.base-grid {
  position: absolute;
  top: 16px;
  left: 20px;
  display: grid;
  grid-template-columns: repeat(20, 44px);
  grid-template-rows: repeat(20, 48px);
  gap: 0 4px;
  background: black;
}

.grid {
  position: absolute;
  top: 20px;
  left: 20px;
  display: grid;
  grid-template-columns: repeat(20, 44px);
  grid-template-rows: repeat(20, 48px);
  gap: 0 4px;
}

.test-grid {
  position: absolute;
  top: 16px;
  left: 64px;
  display: grid;
  grid-template-columns: repeat(3, 47px);
  grid-template-rows: repeat(3, 48px);
  gap: 0 4px;
  overflow: hidden;
}